DATABASE_URL=postgresql+asyncpg://username:password@localhost/dbname
SUPABASE_URL=your-supabase-url
SUPABASE_KEY=your-supabase-anon-key
SHOW_ERROR_DETAILS=true

BASE_URL=
APP_ENV=

# put in any string
TASK_TOKEN=eyJVc2VySUQiOiIyNzIzMDRkZS0zNTA1LTQ3OTEt

QSTASH_TOKEN=
CLOUDCONVERT_API_KEY=e